{#
 #  This file is part of Mathstreams.
 #
 #  Copyright (c) 2015  Sohani Academy <developer@sohaniacademy.com>
 #
 #  Mathstreams is free software: you can redistribute it and/or modify
 #  it under the terms of the GNU Affero General Public License as
 #  published by the Free Software Foundation, either version 3 of the
 #  License, or (at your option) any later version.
 #
 #  This program is distributed in the hope that it will be useful,
 #  but WITHOUT ANY WARRANTY; without even the implied warranty of
 #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 #  GNU Affero General Public License for more details.
 #
 #  You should have received a copy of the GNU Affero General Public License
 #  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% import "MagnetsMathgymBundle:UI:macros.html.twig" as MX %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Mathstreams{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('bundles/magnetsmathgym/images/favicon.png') }}"/>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/s/bs/dt-1.10.10,b-1.1.0,b-colvis-1.1.0,cr-1.3.0,fc-3.2.0,fh-3.1.0,r-2.0.0/datatables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.js"></script>
        <script src="{{ asset('bundles/magnetsmathgym/js/lib.js') }}"></script>
        <script>
            $(function () {
                XE.setToken('{{ csrf_token('base') }}');
            });
        </script>
        <script src="{{ asset('bundles/magnetsmathgym/js/XE.js') }}"></script>
        <script src="{{ asset('bundles/magnetsmathgym/js/SC.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$', '$']], displayMath: [['$$', '$$']], processEscapes: true,
                    skipTags: ["script","noscript","style","textarea","code"],
                    ignoreClass: "tex-source", processClass: "tex-render",
                },
            });
        </script>
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    {% endblock %}
</head>
<body>
<div class="container-fluid" style="margin-top:10px">
    {{ include('MagnetsMathgymBundle:UI:flash.plug.html.twig') }}
    <div id="main">
        {% block body %}
        {% endblock %}
    </div>
</div>
{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/s/bs/dt-1.10.10,b-1.1.0,b-colvis-1.1.0,cr-1.3.0,fc-3.2.0,fh-3.1.0,r-2.0.0/datatables.min.css"/>
    <link rel="stylesheet" href="{{ asset('bundles/magnetsmathgym/css/style.css') }}"/>
    <style>
        [ng-cloak] {
            display: none !important;
        }
    </style>
{% endblock %}
</body>
</html>